@import './reset.css';

* {
  transition: all 0.2s ease-in-out;
}

body {
  background-color: rgb(40, 2, 51);
  color: rgb(240, 255, 255);
}

.flex {
  display: flex;
}

.star-rating {
  height: 100dvh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    margin-top: 20px;
    font-size: 26px;
  }
}

.stars {
  color: white;
  font-size: 50px;
  gap: 5px;
}

.star-checked {
  color: rgb(241, 227, 101);
}

.dialog-btn {
  position: fixed;
  margin: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  color: rgb(40, 2, 51);
}

.dialog-btn:hover {
  background-color: rgb(207, 197, 226);
}

.dialog {
  position: fixed;
  display: flex;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 45%;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(236, 238, 224);
  background-color: rgb(254, 255, 249);
  color: black;
  button {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: rgb(148, 50, 58);
    color: white;
    margin: 20px;
  }
  button:hover {
    background-color: rgb(110, 32, 39);
  }
}

.dialog-content {
  font-size: 40px;
  font-weight: bold;
}

.hide-dialog {
  opacity: 0;
  visibility: hidden;
}